.First-Row {
  height: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.Second-Row {
  display: flex;
  height: 600px;
}

.Third-Row {
  display: flex;
  height: 10000px;
  background-color: rgb(44, 103, 132);
  margin: 0;
  padding: 0;
}

.Intro-Container {
  width: 75%;
  margin-right: 4px;
  /* padding: 0px; */
  text-align: center;
  text-emphasis-color: white;
  color: white;
}

.Personal-Photo {
  border: 2px solid black;
  margin-top: 20px;
  width: 400px;
}

.Projects-Container {
  background-color: #343434;
  width: 75%;
  margin-right: 4px;
  /* padding: 0px; */
  text-align: center;
  text-emphasis-color: white;
}

.Project-Photos {
  border: 2px solid #343434;
  margin-top: 20px;
  width: 200px;
}

.Links-Container {
  width: 25%;
  margin-left: 4px;
  text-align: center;
  color: white;
}

.Link-Container {
  height: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #11494b;
  margin: 0;
  padding: 0;


}

.email-link {
  text-decoration: none;
  color: inherit;
}

/* .links-header{}*/
.About-Me {
  width: 50%;
  /* padding: 4px; */
  text-align: center;
  color: white;
  /* margin-right: 4px;
    margin-top: 4px; */
}

.Experience {
  width: 50%;
  background-color: #343434;
  padding: 0px;
  text-align: center;
  margin-top: 0px;
  margin-left: 4px;
  color: white;
}

.About-Me-Container {
  margin: 0 auto;
  width: 60%;
  height: 515px;
  display: flex;
  /* align-items: left ; */
  justify-content: center;
  /* margin-bottom: 0px; */
  color: white;
}

.body {
  /* background-color: #121212; */
  margin: 0;
  padding: 0;
}

.p {
  text-align: left;
}

button {
  background-color: #343434;
}

button:hover {
  background-color: rgb(0, 105, 123);
  transition: 0.5s;
}

.Contact {
  background-color: aliceblue;
}

.stylish-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  background-color: #ced3d8;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 25px;
  /* Makes corners rounded */
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stylish-link:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background-color: #653889;
}