.First-Row{
height: 500px;
display:flex;
}
.Second-Row{
display: flex;
height: 600px;
}
.Intro-Container{
background-color:#28282B;
width: 75%;
margin-right: 4px;
/* padding: 0px; */
text-align: center;
}
.Personal-Photo{
  border: 2px solid black;
margin-top: 20px;
width: 200px;
}
.Links-Container{
width: 25%;
margin-left: 4px;
text-align: center;
}
.Link-Container{
background-color: #A0B0C1;
margin: 0 auto;
width:75%;
height: 25px;
border: 2px solid black;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 6px;
}
/* .links-header{}*/
.About-Me{
    width: 50%;
    /* padding: 4px; */
    text-align: center;
    /* margin-right: 4px;
    margin-top: 4px; */
    }
.Experience{
      width: 50%;
      background-color: #263e3e;
      padding: 0px;
      text-align: center; 
      margin-top: 0px;
      margin-left: 4px;
    }
.About-Me-Container{
      margin: 0 auto;
      width: 60%;
      height: 515px;
      display: flex;
      /* align-items: left ; */
      justify-content: center;
      /* margin-bottom: 0px; */
    }
.body{
  background-color: #2F4F4F ;
  margin: 0;
  padding: 0;
}
.p{
  text-align: left;
}
button{
  background-color: #315555 ;
}
button:hover{
  background-color: pink;
  transition: 0.5s;
}
.Contact{
  background-color: aliceblue;
}